{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore",
        "singleQuote": false,
        "jsxBracketSameLine": false,
        "bracketSpacing": true
      }
    }
  ]
}
