{% load static %}
<div class="custom-footer bg-dark text-light">
    <div class="container">
        <footer class="row row-cols-1 row-cols-md-2 row-cols-lg-5 py-5 my-5">
            <div class="col mb-2 text-center d-flex flex-column justify-content-center align-items-center">
                <div class="mb-3">
                    <img src="{% static 'img/logo.png' %}" width="80px" alt="Logo">
                </div>
                <div class="mb-3">
                    <p class="text-body-secondary custom-text-footer">&copy; 2024 <span class="custom-span">Teloarriendo</span></p>
                </div>
                <div>
                    <ul class="nav justify-content-center py-4">
                        <li class="nav-item mx-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                <i class="fa-brands fa-facebook custom-icon fa-2xl"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                <i class="fa-brands fa-square-instagram custom-icon fa-2xl"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="#" class="nav-link p-0 text-body-secondary">
                                <i class="fa-brands fa-linkedin custom-icon fa-2xl"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col mb-2">
            </div>
            <div class="col mb-2">
                <h5 class="custom-span">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
            </div>

            <div class="col mb-2">
                <h5 class="custom-span">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
            </div>

            <div class="col mb-2">
                <h5 class="custom-span">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
            </div>
        </footer>
        <p class="text-center pb-3 fw-lighter custom-text-footer">Desarrollado por <span class="custom-span fw-bold">Crispo</span></p>
    </div>
</div>
